<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Resources/header.css">
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="/Resources/activity.css">

    <script src="/activity.js"></script>
    <title>Activity</title>
</head>
<body>
    <header>RECIPES HAVEN</header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="http://localhost:3030/home/page">Recipe</a>
            <a href="http://localhost:3030/recipe/share-a-recipe">Share a Recipe</a>
            <a href="http://localhost:3030/recipe/search">Search</a>
            <a href="http://localhost:3030/users">Authors</a>
            <a href="http://localhost:3030/activity" class="active">Activity Feed</a>
            <a href="http://localhost:3030/user/getMyProfilePage">Profile</a>
            <a href="http://localhost:3030/user/recipe/favorites">Favorites</a>
            <a href="http://localhost:3030/user/collections">Collections</a>
        </div>
    </nav>

    <div class="container" id="activity-feed">
        <!--Recipes / Feed will load here -->
    </div>
</body>
</html>l