<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\Resources\header.css">
    <link rel="stylesheet" href="\Resources\main.css">
    <script src="/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Haven</title>
</head>
<body>
    <header>RECIPES HAVEN</header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="http://localhost:3030/home/page" class="active">Recipe</a>
            <a href="http://localhost:3030/recipe/share-a-recipe">Share a Recipe</a>
            <a href="http://localhost:3030/recipe/search">Search</a>
            <a href="http://localhost:3030/users">Authors</a>
            <a href="http://localhost:3030/activity">Activity Feed</a>
            <a href="http://localhost:3030/user/getMyProfilePage">Profile</a>
            <a href="http://localhost:3030/user/recipe/favorites">Favorites</a>
            <a href="http://localhost:3030/user/collections">Collections</a>
        </div>
    </nav>

    <div class="container">
        <div class="recipe">
            
            <div class="recipe-content">
                <h3>Agua de Jamaica</h3>
                <p>Refreshing hibiscus drink with a sweet and tangy flavor.</p>
            </div>
        </div>
        <div class="recipe">
            
            <div class="recipe-content">
                <h3>Spicy Chicken Curry</h3>
                <p>Aromatic and flavorful chicken curry with spices.</p>
            </div>
        </div>
        <div class="recipe">
            
            <div class="recipe-content">
                <h3>Chocolate Cake</h3>
                <p>Rich and moist chocolate cake with creamy frosting.</p>
            </div>
        </div>
    </div>

</body>
</html>